#train フォルダは入れない
train_player/
train_dealerButton/
train_tess4j/

#tesscode, tessdata フォルダは入れない
tesscode/
tesscode_*/
tessdata/
tessdata_*/
#out フォルダは入れない
#out フォルダは入れない
out/
#vimのバックアップファイルは入れない
*~
#.lnk
*.lnk
#.swp
*.swp
#classifier_settings (dat)
classifier_settings.dat*

jTessBoxEditorFX*/
back/
sample_pic/
